In [66]:
import pandas as pd
import json 
df=pd.read_csv('Dec-01-2025_Dec-31-2025_2023749038414305.csv')

with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['post_number']=f'{len(df)}'
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

In [67]:
df

,ID del post,ID dell'account,Nome utente dell'account,Nome account,Descrizione,Durata (s),Orario di pubblicazione,Permalink,Tipo di post,Commento sui dati,Data,Visualizzazioni,Copertura,Mi piace,Condivisioni,Follower,Commenti,Salvataggi
0,18014231951802917,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,Con questo secondo video potrete realizzare an...,66,12/04/2025 11:19,https://www.instagram.com/reel/DR2lvZujK-o/,Reel di Instagram,NaN,Totale,44931,36057,855,148,193,20,460
1,18077935745223212,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,"Non cucire la treccia intorno , falla insieme‚ù§...",90,12/02/2025 11:55,https://www.instagram.com/reel/DRxgVRsjG7M/,Reel di Instagram,NaN,Totale,83202,56823,1786,214,427,35,1288
2,17980391207956741,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,Per le feste non pu√≤ mancare il balaclava ross...,90,12/30/2025 12:02,https://www.instagram.com/reel/DS5nf68jIqu/,Reel di Instagram,NaN,Totale,77903,56404,1155,120,527,18,1498
3,18066432677168754,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,Ho provato per voi diversi kit di ferri circol...,93,12/23/2025 08:05,https://www.instagram.com/reel/DSnJ2tujJuY/,Reel di Instagram,NaN,Totale,125307,192321,733,38,312,32,235
4,18544224439057633,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,Finito il cappello bisogna ricamarlo!\nNon ti ...,55,12/18/2025 11:59,https://www.instagram.com/reel/DSatmXVjGMl/,Reel di Instagram,NaN,Totale,13341,9969,355,40,36,5,317
5,17973720860809992,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,"Bastano 2 gomitoli di lana ,poche ore di lavor...",83,12/16/2025 11:57,https://www.instagram.com/reel/DSVjf6bjEo9/,Reel di Instagram,NaN,Totale,136340,94499,2635,788,805,56,3497
6,17863258056541424,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,"Se sei in cerca di un‚Äô idea regalo originale,...",10,12/11/2025 11:48,https://www.instagram.com/reel/DSIqbtEDGgy/,Reel di Instagram,NaN,Totale,8576,5395,127,2,10,1,10
7,18084180070878072,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,"Con questo regalo unisci qualit√†, originalit√† ...",47,12/09/2025 11:47,https://www.instagram.com/reel/DSDg220DHLu/,Reel di Instagram,NaN,Totale,10715,7556,259,5,11,10,33
8,17974657994796464,17841401931361276,agoraio1979,Giorgia - L‚ÄôAgoraio,Cerchi un regalo di Natale originale? üéÅ\nLa Cr...,25,12/08/2025 09:46,https://www.instagram.com/reel/DSAudYuF0sG/,Reel di Instagram,NaN,Totale,29299,21087,304,7,30,12,37

In [68]:
df['Orario di pubblicazione'] = pd.to_datetime(df['Orario di pubblicazione'])
df.sort_values(by='Orario di pubblicazione', inplace=True)
df

# with open('public/data.json', 'r') as f:
#     data=json.load(f)

    
# data['date_interval']=str(df.iloc[0]['Orario di pubblicazione']).split(' ')[0]+ ' al ' + str(df.iloc[-1]['Orario di pubblicazione']).split(' ')[0]
# with open('public/data.json', 'w') as f:
#     json.dump(data, f, indent=2)

with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['date_interval']='1 dicembre 2025 al 31 dicembre 2025'
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

In [69]:
# Engagement rate by reach (ERR)
import json

df['ERR']= (df['Commenti'] + df['Mi piace'] + df['Salvataggi'] + df['Condivisioni'])/df['Copertura'] * 100
average_ERR = df['ERR'].mean()
print(f'Average ERR: {average_ERR:.2f}% over {len(df)} posts')
with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['average_ERR']=f'{average_ERR:.2f}'
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

Average ERR: 4.27% over 9 posts

In [70]:
# Engagement rate by post
total_follower=40600
df['ERP']= (df['Commenti'] + df['Mi piace'] + df['Salvataggi'] + df['Condivisioni'])/total_follower * 100
average_ERP = df['ERP'].mean()
print(f'Average ERP: {average_ERP:.2f}% over {len(df)} posts')

with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['average_ERP']=f'{average_ERP:.2f}'
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

Average ERP: 4.69% over 9 posts

In [71]:
# Engagement rate by impressions

df['ERI']= (df['Commenti'] + df['Mi piace'] + df['Salvataggi'] + df['Condivisioni'])/df['Visualizzazioni'] * 100
average_ERI = df['ERI'].mean()
print(f'Average ERI: {average_ERI:.2f}% over {len(df)} posts')

with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['average_ERI']=f'{average_ERI:.2f}'
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

Average ERI: 3.10% over 9 posts

# Pubblico

In [28]:
import pandas as pd
from io import StringIO

with open('Pubblico.csv', 'r',encoding='utf-16') as f:
    blocks=f.read().split('\n\n')
    
    
dfs=[]
    
for block in blocks:
    dfs.append(pd.read_csv(StringIO(block)))

In [33]:
dfs[1]

  Unnamed: 0  Donne  Uomini
0      18-24    0.7     0.0
1      25-34    5.0     0.3
2      35-44    9.0     0.2
3      45-54   22.7     0.4
4      55-64   39.4     0.6
5        65+   21.3     0.4

In [ ]:
with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['age']=[{row[1]['Unnamed: 0']} for row in dfs[1].iterrows()]
data['gender']=[{row[1]['Unnamed: 0']} for row in dfs[1].iterrows()]
data['locations']
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)

,Roma,Lazio,Milano,Lombardia,Torino,Piemonte,Santiago del Cile,Cile,Istanbul,Provincia di Istanbul,...,Brasile,Genova,Liguria,Buenos Aires,Argentina,Napoli,Campania,Smirne,Provincia di Smirne,Turchia.1
0,2.6,2,1.9,1.7,1.1,0.9,0.8,0.7,0.6,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Followers

In [22]:
import pandas as pd
import json
df=pd.read_csv('Follower.csv',encoding='utf-16')
df
followerAtStart=11125 # ~ al 12 gennaio 2025
df['totalFollowers']=df['Primary'].cumsum() + followerAtStart
months={
    1:'Gen',
    2:'Feb',
    3:'Mar',
    4:'Apr',
    5:'Mag',
    6:'Giu',
    7:'Lug',
    8:'Ago',
    9:'Set',
    10:'Ott',
    11:'Nov',
    12:'Dic'
}


df['labels']=pd.to_datetime(df['Data']).dt.day.astype(str) + ' ' + pd.to_datetime(df['Data']).dt.month.map(months).astype(str)    
df

                    Data  Primary  totalFollowers  labels
0    2025-01-11T00:00:00       30           11155  11 Gen
1    2025-01-12T00:00:00       39           11194  12 Gen
2    2025-01-13T00:00:00       19           11213  13 Gen
3    2025-01-14T00:00:00       44           11257  14 Gen
4    2025-01-15T00:00:00       70           11327  15 Gen
..                   ...      ...             ...     ...
345  2025-12-27T00:00:00      132           39326  27 Dic
346  2025-12-28T00:00:00      172           39498  28 Dic
347  2025-12-29T00:00:00      131           39629  29 Dic
348  2025-12-30T00:00:00      104           39733  30 Dic
349  2025-12-31T00:00:00      217           39950  31 Dic

[350 rows x 4 columns]

In [23]:
with open('public/data.json', 'r') as f:
    data=json.load(f)

    
data['followerGrowth']['labels']=df['labels'].tolist()
data['followerGrowth']['values']=df['totalFollowers'].tolist()
with open('public/data.json', 'w') as f:
    json.dump(data, f, indent=2)